<mat-card appearance="outlined" class="syllables-card" [class]="{'correct': isCorrect, 'incorrect': !isCorrect && selectedValue !== ''}">
    <mat-card-header>
      <mat-card-title>{{word.word}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="syllables-content">
      
    </mat-card-content>
    <mat-card-actions>
      <ng-container *ngFor="let option of word.options">
      <button mat-stroked-button (click)="check(option)" *ngIf=" !isCorrect || option === word.result" [disabled]="(!isCorrect && selectedValue === option) || isCorrect">{{option}}</button> 
    </ng-container>
    </mat-card-actions>
  </mat-card>
