/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.slide-toggle-overrides((
    track-outline-color: orange,
    disabled-unselected-track-outline-color: red,
  ));
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.calculation-card, .word-content{
  .correct{
    > div:first-child{
      background-color: aquamarine;
    }
  }
  .incorrect{
    > div:first-child{
      background-color: lightcoral;
    }
  }

}