.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 90%;
  margin: 0;
}

.app-sidenav {
  width: 230px;
}
.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}

.profile-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  color: gray;
  border-radius: 50%;
  background-color: #f0f0f0;
  padding: 4px;
}

.toolbar-alex{
  background-color: lightblue;
}

.selected-menu-alex{
  background-color: steelblue;
}

.toolbar-kris{
  background-color: lightgoldenrodyellow;
}

.selected-menu-kris{
  background-color: khaki;
}


// .toolbar-alex {
//   mat-icon {
//     background-color: steelblue;
//   }
//   background-color: lightblue;
// }
// .toolbar-kris {
//   background-color: lightblue;
// }
